.login-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 20px;
  cursor: pointer;
}
.login-button .login {
  margin-left: 10px;
}
.nav {
  display: flex;
  justify-content: center;
}
.menuArea {
  display: flex;
  justify-content: space-between;
}
.menulist {
  display: flex;
  justify-content: center;
  list-style: none;
}
.menulist li {
  /* width: 90px; */
  margin-right: 10px;
}

.menuRight {
  border-bottom: 3px solid #ececec;
  margin-bottom: 10px;
}
.menuRight .search {
  padding-top: 20px;
}
.menuRight input {
  border: none;
}
.new-product {
  font-size: 11px;
  height: 20px;
}

.card {
  transform: scale(1);
  z-index: 0;
}
.card:hover {
  transform: scale(1.1);
  z-index: 1;
}
.product-img {
  display: flex;
  justify-content: flex-end;
}
